body {
  font-family: Helvetica, sans-serif;
}

.tab-buttons {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active-tab {
  color: white;
  background-color: #2b80ff;
  font-weight: 700;
}

/* CSS class to reduce scrollbar width */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 2px; /* Chrome, Safari, Edge */
  height: 2px; /* For horizontal scrollbars */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Customize thumb color */
  border-radius: 2px; /* Optional: Rounded edges */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Customize track color */
}
