body {
  font-family: Helvetica, sans-serif;
}

.tab-buttons {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active-tab {
  color: white;
  background-color: #2b80ff;
  font-weight: 700;
}

.scrollbar-thin {
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 2px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #edf2f7;
}
