body {
  font-family: Helvetica, sans-serif;
}

.tab-buttons {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active-tab {
  color: white;
  background-color: #2b80ff;
  font-weight: 700;
}
